<a href="https://colab.research.google.com/github/chirag3096/ExcelR-Assignment/blob/main/Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

In [7]:
data = pd.read_excel("/content/questions.xlsx")

In [8]:
data

        date customerid  ...  region  transaction_id
0 2021-10-09        CC1  ...       E               1
1 2021-10-09        CC1  ...       A               2
2 2020-12-26        CC1  ...       F               3
3 2020-12-27        CC2  ...       G               4
4 2020-12-28        CC2  ...       G               5
5 2020-12-29        CC3  ...       S               6
6 2020-12-30        CC3  ...       S               7
7 2021-10-09        CC4  ...       E               8
8 2021-10-10        CC4  ...       R               9

[9 rows x 6 columns]

In [9]:
data["sales"]=data["product_quantity"]*data["price_per_item"]

In [10]:
data

        date customerid  product_quantity  ...  region transaction_id  sales
0 2021-10-09        CC1                 3  ...       E              1     99
1 2021-10-09        CC1                 4  ...       A              2     88
2 2020-12-26        CC1                 2  ...       F              3    222
3 2020-12-27        CC2                 1  ...       G              4     22
4 2020-12-28        CC2                 4  ...       G              5  44000
5 2020-12-29        CC3                 2  ...       S              6     66
6 2020-12-30        CC3                 1  ...       S              7     22
7 2021-10-09        CC4                 3  ...       E              8  33000
8 2021-10-10        CC4                 4  ...       R              9    132

[9 rows x 7 columns]

Which customer id bought maximum products?

In [11]:
(data.groupby(['customerid'])[['product_quantity']].sum())
# CC1 customerid brought maximun product

            product_quantity
customerid
CC1                        9
CC2                        5
CC3                        3
CC4                        7

In [26]:
x=(data.groupby(['date','region'])[['sales']].sum())

In [27]:
x[:2]

                   sales
date       region
2020-12-26 F         222
2020-12-27 G          22

Get sales during Christmas period (21 dec 2020 - 27 dec 2020) by region.

In [14]:
x[:2]
# The Christmas period sales by region

                   sales
date       region
2020-12-26 F         222
2020-12-27 G          22

In [28]:
data['High_sales']=data['sales']>10000
data['low_sales']=data['sales']<10000

In [29]:
data

        date customerid  product_quantity  ...  sales High_sales  low_sales
0 2021-10-09        CC1                 3  ...     99      False       True
1 2021-10-09        CC1                 4  ...     88      False       True
2 2020-12-26        CC1                 2  ...    222      False       True
3 2020-12-27        CC2                 1  ...     22      False       True
4 2020-12-28        CC2                 4  ...  44000       True      False
5 2020-12-29        CC3                 2  ...     66      False       True
6 2020-12-30        CC3                 1  ...     22      False       True
7 2021-10-09        CC4                 3  ...  33000       True      False
8 2021-10-10        CC4                 4  ...    132      False       True

[9 rows x 9 columns]

In [36]:
(data.groupby(['region','transaction_id'])[['High_sales','low_sales']].sum())

                       High_sales  low_sales
region transaction_id
A      2                        0          1
E      1                        0          1
       8                        1          0
F      3                        0          1
G      4                        0          1
       5                        1          0
R      9                        0          1
S      6                        0          1
       7                        0          1